@import "normalize.css";
@import "bootstrap.css";

/* TRANSITIONS */
@mixin transition($transition) {
  transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
}


/* COLORES */
/*opcion UNO*/
/*$color-primario: #caebf2;
$color-secundario: #ff3b3f;
$color-terciario: #a9a9a9;*/
/*opcion DOS*/
/*$color-primario: #4484ce;
$color-secundario: #d9d9d9;
$color-terciario: #f9cf00;*/
/*opcion TRES*/
/*$color-primario: #6e3667;
$color-secundario: #88d317;
$color-terciario: #1a0315;*/
/*opcion CUATRO*/
/*$color-primario: #6e3667;
$color-secundario: #88d317;
$color-terciario: #1a0315;*/
/*opcion CUATRO*/
$color-primario: #002B33;
$color-secundario: #0EB5B2;
$color-terciario: #5CBF00;
$background: snow;
$texto: #1c1c1c;
$complementario: #efefef;
$search-bar : lighten($color-primario, 5);

/*ESTILO GENERAL DEL DOCUMENTO*/
* {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Hammersmith One', sans-serif;
}

.root{
  margin: 0;
  padding: 0;
}
/* HEADER */
.header-container{
  background: $color-primario;
  padding: 10px;
  display: flex;
  flex-flow: row;
  }
/* usa el tag header, pero se cambiara a clase si usamos mas headers*/
header{  border-bottom: 3px solid $color-terciario;}
/*pruebas de acomodo del header*/
.header-element{/*border: 5px solid red;*/}

/*USER - LOGO - MENU*/
#logo{
  font-family: 'Krona One', sans-serif;
  color: $color-terciario;
  flex-grow: 3;
  text-align: center;
  font-size: 1.2em;
}
#menu-nav, #user-nav{
  flex-grow: 1;
  text-align: center;
}
.fa-user-circle-o, .fa-bars, .fa-search{
  margin: auto;
  color: $color-secundario;
}

/*MENUS*/

.navbar-container {
  float: right;
  /*border: 5px solid red;*/
  width: 80%;
  display: flex;
  flex-flow: row;
  li {
    text-align: center;
    flex-grow: 1;
    /*border: 5px solid silver;*/
    a {
      text-decoration: none;
      color: $color-secundario;
      border-bottom: 3px solid $color-primario;}
    a:hover{
      text-decoration: none;
      border-bottom: 3px solid $color-terciario;
      @include transition(600ms);

    }
  }
}
.mobile-nav, .desk-nav {
  text-align: right; }

/* DROPDOWN MENU */
.dropbtn {
    background-color: $color-primario;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: silver;
  border-bottom: 2px solid $color-secundario;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
  background-color: $color-primario;
  .fa-user-circle-o, .fa-bars{
  color: $color-terciario;}
}

/* SEARCH BAR */
.search-container{
  background: $search-bar;
  padding: 5px;

}
.search-bar{
  position: relative;
  max-width: 400px;
  margin: auto;
  border: 5px solid red;}
.search-bar-form{
  display: flex;
  flex-flow: row;
  }
.input-text{
  flex-grow: 4;
  margin: 0px 5px;
}
.btn{
  flex-grow: 1;
  margin: 0px 5px;
}

/* MEDIA QUERIES */
/* SMALL - MEDIUM PHONES */
@media (max-width: 767px)
{
  .mobile-nav {
    position: relative;
    float: right;
    display: flex;
    text-align: right;}
  .desk-nav {
    display: none; }
}
/* LARGE PHONES -TABLETS */
@media (max-width: 991px)
{
  .mobile-nav {
    position: relative;
    float: right;
    display: flex;
    text-align: right; }
  .desk-nav{
    display: none; }
}
/* LAPTOPS - SMALL SCREENS */
@media (min-width: 992px) {
  .mobile-nav, .mobile-user-nav {
    display: none; }
  .navbar-container {
    width: 90%; }
  .navbar-container li a {
    margin: 5px;
    font-size: .75em; }
  .desk-nav {
    position: relative;
    top: 15px; }
  .search-bar{
    float: right;
  }
}
/* LARGE SCREENS */
@media (min-width: 1200px) {
  .mobile-nav, .mobile-user-nav {
    display: none; }
  .desk-nav {
    position: relative;
    top: 15px; }
  .navbar-container {
    width: 90%; }
  .navbar-container li a {
    margin: 5px;
    font-size: 1em; }

}
